
#AG {
    box-sizing: border-box;
    width: 50%;
    background-color: #006B8F;
    color: black;
    position: relative;
    width: 100%;
}
#words {
    padding-top: 2px;
    padding-bottom: 3px;
    margin-top: -3px;
}
#word {
    font-size: 5.5em;
    font-weight: 900;
}

#file {
    box-shadow: 24px 25px 24px #a5a5a5;
    width: 43%;
    margin: auto;
    margin-top: 30px;
    border: 3px solid black;
    background-color: #3498DB ;
	height: 800px;
}
#rules {
    box-shadow: 24px 25px 24px #a5a5a5;
    border: 3px solid black;
    background-color: #3498DB ;
    margin-left: 20px;
    margin-bottom: 50px !important;
    display: block;
    width: 400px;
}
#rules2 {
    box-shadow: 24px 25px 24px #a5a5a5;
    border: 3px solid black;
    background-color: #3498DB ;
    margin-top: 50px !important;
    margin-left: 20px;
    width: 400px;
}
#bothRules {
    float: left;
    margin-left: 20px;
}

#end{
	
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 68px;
    margin-bottom: 30px;
	margin-left: 200px;

    cursor: pointer;
	
    visibility: hidden;

	
}	

#end:hover {
  background-color: green;
  color: white;
}
	

@media only screen and (max-width: 1039px){  


	#file{	
		width: 730px;
		height: 720px;
		margin-left: 500px;		
	}
	#title {
   
		font-size: 50px;
		margin-left:23%;
		margin-top:21%;
	}
}

@media only screen and (max-width: 850px){   
	
	#file{	
		width: 730px;
		height: 720px;
		margin-left: 500px;		
	}	
}